.wdp-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 32px 24px 23px 24px;
    text-align: center;
    transition: opacity 0.25s;
    opacity: 0.98;
}
.wdp-close {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 28px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    line-height: 1;
}
.wdp-popup .wdp-content {
    margin-top: 8px;
    word-break: break-word;
}
@media (max-width:600px) {
    .wdp-popup {
        max-width: 90vw;
        padding: 18px 8vw 10px 8vw;
        font-size: 16px !important;
    }
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
